<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438000097602-rc9fb5j8icks4dfkacf24gt8enm9p4kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438000097602-rc9fb5j8icks4dfkacf24gt8enm9p4kk</string>
	<key>API_KEY</key>
	<string>AIzaSyBlNZXqbd3TjnoOX8r5pqAVUf79KSrgQEk</string>
	<key>GCM_SENDER_ID</key>
	<string>438000097602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventsTicket</string>
	<key>PROJECT_ID</key>
	<string>eventtickets-377db</string>
	<key>STORAGE_BUCKET</key>
	<string>eventtickets-377db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438000097602:ios:9f6cec12fb0769a50510db</string>
</dict>
</plist>